{% extends "main.html" %}

{% block page_name %}
<title>About This Wiki</title>
{% endblock %}




{% block content %}
<head>
    <style>
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
      }
    .images img {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
</style>
</head>
<body>
<h1>About Us</h1>
<p>Ever find yourself in a new city, super hungry, and looking for the best food? Ugh, not that touristy crap, you only trust the local salt of the earths. They always know where the best stuff is!</p> 
<p>Here you will find the some of the best diamonds in the rough restaurants for cities all over the world. Who knows, maybe you'll discover a new hidden gem right in your own backyard. New discoversies are always welcome!</p>
<h3>Meet the authors: Shaniyah, Dagi, and Tomas!</h3>
    <div class="images">
        {% for name in image_names %}
            <img style = "max-width: 50%; height: auto" src="https://storage.googleapis.com/about-us-pictures/{{name}}" alt="{{ name }}">
        {% endfor %}
    </div>
</body>
{% endblock %}
