<!DOCTYPE html>
<html>

<head>
    <head>
        {% block page_name%}<title>Little Niche Recomendations</title>{%endblock%}
    </head>
</head>
<body>
    {%block nav_bar%}
    <nav>
        <ul>
            <h3><a href="/?username={{username}}">Home</a>&nbsp;&nbsp 
            <a href="/pages?username={{username}}">Pages</a>&nbsp &nbsp
            <a href="/about?username={{username}}">About</a>&nbsp &nbsp  | &nbsp
            {% if username %}
            {{ username }} &nbsp |
            <a href="/upload?username={{username}}">Upload</a>&nbsp &nbsp
            <a href="/logout?username={{username}}">Logout</a>&nbsp &nbsp
            {% else %}
            <a href="/login">Login</a>&nbsp &nbsp
            <a href="/signup">Sign Up</a>&nbsp &nbsp
            {% endif %}
            </h3>&nbsp &nbsp
            <form method="POST" action="/search" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search Pages" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </ul>
    </nav>
    {%endblock%}
    
        {% block content %}
        {% if username %}
        <h1>Hey {{username}}, welcome back to Little Niche Recomendations!</h1>
        {% else %}
        <h1>Welcome to The Little Niche Recomendations Wiki!</h1>
        {% endif %}
        <br>
        <p>Explore all the great restaurants and eateries in the world, as recommended by locals!</p> 
        {% endblock%}
</body>

</html>
