{% extends "main.html" %}

<html>
    {% block page_name %}
    <head>
    <title>Upload</title>
    </head>
    {% endblock %}
    {% block content %}
    <h1>Upload a doc to the Wiki</h1>
    <form action = "/authenticate_upload" method = "post" enctype = "multipart/form-data"> 
        <input type = "text" id = "upload" name = "upload" placeholder = "wikiname"> 
        <input type = "file" name = "file" />  
        <input type = "submit" value = "Upload"> 
    </form>
    {% endblock %}
</html>
